.climate {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  width: 95%;

  .climate_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95px;
    height: 101px;
  }
  .climate {
    color: #444444;
    font-size: 16px;
    line-height: 19, 2px;
    padding: 5px 0px;
    font-weight: 500;
  }
  .climate_name {
    font-size: 8px;
    color: #999999;
  }
}
